@using System.Security.Claims;
@using rehome.Enums;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Language" content="ja">@*この二行で自動翻訳ポップアップを出させない*@
    <meta name="google" content="notranslate">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - rehome</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker-1.9.0/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/css/loading.css" />
    <link rel="stylesheet" href="~/css/quote.css" />
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">*@
    <link rel="stylesheet" href="~/css/application.css?20231209" />
    <link rel="stylesheet" href="~/css/Tile.css" />
    
    <link rel="stylesheet" href="~/css/mystyle.css?202401063" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/mytable.css?20231119" />
    <link rel="stylesheet" href="~/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <link href="~/lib/bootstrap4-toggle.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/jquery/dist/jquery-ui.css" />
    @*<link href="~/lib/chosen/chosen.min.css" rel="stylesheet" />*@
    <link href="~/lib/chosen/component-chosen.min.css" rel="stylesheet" />
    <link href="~/css/ecmcheckbox.css" rel="stylesheet" />
   

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
       
        @if (User.Identity.IsAuthenticated)
        {
            
        }
        else
        {
            @*<a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Login">rehome for web</a>*@
        }
        
    </header>

    @*<br><br><br>*@
    
     <div class="container-flex">      
        <div>
              @await Html.PartialAsync("_Sidebar")           
        </div>       
        <div style="flex:1;">
            <main class="pb-3 ">
                <div id="ModalHere"></div>@*ポップアップ表示用div共用化*@
                <div class="px-3" >
                    @RenderBody()     
                </div>
            </main>
        </div>
    </div>

    @*    <footer class="border-top footer text-muted">
        <div class="container">
        &copy; 2023 - 株式会社阪南ビジネスマシン
        </div>
        </footer>*@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>    
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-datepicker-1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap-datepicker-1.9.0/dist/locales/bootstrap-datepicker.ja.min.js"></script>
    <script src="~/js/PopupSearch.js" asp-append-version="true"></script>
    <script src="~/js/ReturnRecordJson.js" asp-append-version="true"></script>    
    <script src="~/js/UserCustom.js" asp-append-version="true"></script>
    <script src="~/js/UserCustom_Default.js" asp-append-version="true"></script>
   
    <script src="~/lib/ajaxzip3.js"></script>
    <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
    <script src="~/lib/chosen/chosen.jquery.min.js"></script>
    <script src="~/lib/bootstrap4-toggle.min.js"></script>
    <script src="~/js/TableOperation.js" asp-append-version="true"></script>
    <script src="~/js/Common.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery-ui.min.js"></script> @*datatables.min.jsより下に記載しないとautocompletが効かない！*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="~/js/Cookie.js"></script>


    <script>
        const list = document.querySelectorAll(".list");
        console.log(list);

        function activeLink() {
          list.forEach((item) =>
            // console.log(item);
            item.classList.remove("active")
          );
          this.classList.add("active");
        }

        list.forEach((item) => {
          item.addEventListener("click", activeLink);
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
