@model BunruiIndexModel
@using rehome.Models.DB;

<div class="row">

    <div class="col-lg-3 col-md-5 col-sm-6 col-xs-6 align-items-start surround-box" >
        <label for="分類名" class="surround-label">分類名</label>
        @Html.TextBoxFor(m=>m.BunruiSearchConditions.分類名, new {@class = "form-control"})
    </div>

     <div class="col-lg-3 col-md-5 col-sm-6 col-xs-6 align-items-start surround-box" >
        <label for="理化学医療区分" class="surround-label">理化学医療区分</label>
        @Html.DropDownListFor(m => m.BunruiSearchConditions.理化学医療区分, 分類.理化学医療区分items(), "", new { @class = "form-control" })
    </div>


</div>




                <div class="row justify-content-md-center">
                    <div class="col-md-4">
                        <button class="custom-btn btn-1" type="submit">検索</button>
                        <a href="/Bunrui/Clear" class="custom-btn btn-2" type="button">クリア</a>
                    </div>
                </div>