
.column40 {
    width: 40%; /* セルの幅を大きめに指定 */
}
.column30 {
    width: 30%; 
}
.column20 {
    width: 20%; 
}
column15 {
    width: 15%; /* セルの幅を小さめに指定 */
}
.column10 {
    width: 10%; /* セルの幅を小さめに指定 */
}
.column5 {
    width: 5%; /* セルの幅を小さめに指定 */
}
.column3 {
    width: 3%; /* セルの幅を小さめに指定 */
}
.my-specific-check {
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin-top: 1px !important;
    margin-left: 15px !important;
    transform: scale(2) !important;
}


/*.navigation {
    
    position: relative;*/
    /*height: 50px; 最初はこれ*/
    /*height: 100vh;*/
    /* width: 300px; 最初はこれ*/
    /*width: 50px;
    background-color: #4d4c86;
    box-shadow: 5px 0 0 #c77946;
    border-left: 1px solid #4d4c86;
    overflow-x: hidden;
    transition: all 0.5s;
}

    .navigation:hover {
        width: 250px;
    }

    .navigation ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 20px;
        padding-left: 3px;
    }

        .navigation ul li {
            list-style: none;
            display: block;
            position: relative;
            width: 100%;
            border-radius: 15px;
        }

            .navigation ul li:hover {
                background-color: #20272c5e;
            }

            .navigation ul li.active {
                background-color: #c77946;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }

            .navigation ul li a {
                display: block;
                position: relative;
                text-decoration: none;
                color: white;
                width: 100%;
                display: flex;
            }

            .navigation ul li.active a::before {
                content: "";
                position: absolute;
                width: 30px;
                height: 30px;*/
                /* background-color: red; */
                /*top: -30px;
                right: 0;
                border-radius: 50%;
                box-shadow: 15px 15px 0 #c77946;
            }

            .navigation ul li.active a::after {
                content: "";
                position: absolute;
                width: 30px;
                height: 30px;*/
                /* background-color: red; */
                /*top: 60px;
                right: 0;
                border-radius: 50%;
                box-shadow: 15px -15px 0 #c77946;
            }

            .navigation ul li a .icon {
                display: block;
                min-width: 45px;
                height: 60px;
                line-height: 70px;
                text-align: center;
            }

                .navigation ul li a .icon ion-icon {
                    font-size: 1.5em;
                }

            .navigation ul li a .title {
                padding-left: 10px;
                height: 60px;
                line-height: 60px;
                white-space: nowrap;
            }*/
