html {
  /*font-size: 14px;*/
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  /*min-height: 100%;*/
}


label{
font-size: 0.8rem;
}

input{
font-size: 0.8rem;
}
select {
 font-size: 0.8rem;
}
