@using rehome.Enums

<div class="modal fade" id="ModalWindow" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h3>見積一覧表示項目設定</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div class="row">
@*                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <button class="custom-btn btn-1" type="button" id="b_IndexCustom_Quote_見積ID" onclick="SwitchOnOff()">ON</button>見積ID
                    </div>*@
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <button class="custom-btn btn-1" type="button" id="b_IndexCustom_Quote_顧客名" onclick="SwitchOnOff()">ON</button>顧客名
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <button class="custom-btn btn-1" type="button" id="b_IndexCustom_Quote_案件名" onclick="SwitchOnOff()">ON</button>案件名
                    </div>
                   
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <button class="custom-btn btn-1" type="button" id="b_IndexCustom_Quote_担当者名" onclick="SwitchOnOff()">ON</button>担当者名
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <button class="custom-btn btn-1" type="button" id="b_IndexCustom_Quote_ステータス" onclick="SwitchOnOff()">ON</button>ステータス
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <button class="custom-btn btn-1" type="button" id="b_IndexCustom_Quote_項目" onclick="SwitchOnOff()">ON</button>項目
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <button class="custom-btn btn-1" type="button" id="b_IndexCustom_Quote_請求日" onclick="SwitchOnOff()">ON</button>請求日
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <button class="custom-btn btn-1" type="button" id="b_IndexCustom_Quote_売上" onclick="SwitchOnOff()">ON</button>売上
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <button class="custom-btn btn-1" type="button" id="b_IndexCustom_Quote_見込原価" onclick="SwitchOnOff()">ON</button>見込原価
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <button class="custom-btn btn-1" type="button" id="b_IndexCustom_Quote_原価" onclick="SwitchOnOff()">ON</button>原価
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <button class="custom-btn btn-1" type="button" id="b_IndexCustom_Quote_見込利益" onclick="SwitchOnOff()">ON</button>見込利益
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <button class="custom-btn btn-1" type="button" id="b_IndexCustom_Quote_利益" onclick="SwitchOnOff()">ON</button>利益
                    </div>

                </div>

                <div class="row justify-content-md-center">
                    <div class="col-md-4">
                        <button class="custom-btn btn-1" type="button" onclick="UserCustom_Save('IndexCustom')">設定</button>
                    </div>
                    <div class="col-md-4">
                        <button class="custom-btn btn-2" type="button" onclick="Reset_UserCustom('IndexCustom')">リセット</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>